{% extends 'layouts/base.html' %}
{% load static i18n %}
{% load bootstrap_pagination %}
{% block content %}
    {{ now }}
    <z class="me-auto">
    {{ time }}
       </z>

    <div class="row">
        {% for item in object_list %}
            {% include 'widgets/post.html' %}
        {% empty %}
            <h1>Ushbu kategoriyada ko`rsatishga ma`lumot mavjud emas.</h1>
        {% endfor %}
    </div>
    <div class="me-auto ms-auto">
        {% if page_obj.paginator.num_pages > 1 %}
            {% bootstrap_paginate page_obj %}
        {% endif %}
    </div>
{% endblock %}